/* Set the colour and the position of the background and the elements */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

.container {
  position: relative;
  
}

.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

/* Style the envelope and the card */
.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f7f7f7;
}

.envelope:before {
  background-color: #f364e5;
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.card {
  position: absolute;
  background-color: #f9f6f6;
  width: 270px;
  height: 170px;
  top: 5px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(195, 30, 30, 0.4);
}

.card:before {
  content: "";
  position: absolute;
  border: 3px solid #003049;
  border-style: dotted;
  width: 240px;
  height: 140px;
  left: 12px;
  top: 12px;
}

.text {
  position: absolute;
  font-family:"Sans-serif", cursive;
  font-size: px;
  text-align: center;
  line-height: 29px;
  top: 12px;
  left: 8px;
  color: #003049;
}

.container .heart {
  background-color: #e30000;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 110px;
  left: 105px;
  transform: rotate(-45deg);
  width: 30px;
}

.container .heart:before,
.container .heart:after {
  content: "";
  background-color: #e30808;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.container .heart:before {
  top: -15px;
  left: 0;
}

.container .heart:after {
  left: 15px;
  top: 0;
}

.front {
  position: absolute;
  border-right: 180px solid #fcaaf1;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.front:before {
  position: absolute;
  content: "";
  border-left: 300px solid #fa93e4;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  width: 0;
  height: 0;
}

/* Add the shadow */
.shadow {
  position: absolute;
  width: 330px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(11, 8, 8, 0.3);
  bottom: 250px;
  left: 650px;
  animation: scale 3s linear infinite;
  z-index: -1;
}

/* To move the envelope up and down */
@keyframes up {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

/* to scale the shadow */
@keyframes scale {

  0%,
  100% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0.85);
  }
}

.heart-ct {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  width: 100%;
  background: #f3f4f4;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
}

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
  left: 55%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
  left: 72%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}

.x5 {
  left: 88%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
  left: 33%;
  opacity: 1;
  -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
  animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
  0% {
    top: 500px;
  }

  100% {
    top: -500px;
  }
}

@keyframes moveclouds {
  0% {
    top: 500px;
  }

  100% {
    top: -500px;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left: -0.3%;
  }

  33% {
    transform: rotate(-2deg);
    left: 0.7%;
  }

  100% {
    transform: rotate(0deg);
    left: -12%;
  }
}

/* //  HEART CODE */
.altheart {
  background: url(./113439_img25_twotoneheart.webp) no-repeat center;
  width: 24px;
  height: 21px;
  position: relative;
  display: block;
}

.heart-ct .heart {
  position: relative;
}

.heart-ct .heart:before,
.heart-ct .heart:after {
  position: absolute;
  content: "";
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  background: #e1253b;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart-ct .heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
